.pizzas,
.formules,
.salades {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
    list-style: none;
}

.pizzas>.pizza,
.formules>.formule,
.salades>.salade {
    margin: 5px;
    width: 30%;
    min-width: 250px;
    min-height: 220px;
    border: #BADA55 5px solid;
    border-radius: 10px;
    background: #BADA55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.pizzas>.pizza:hover,
.formules>.formule:hover,
.salades>.salade:hover {
    background: #FFFFFF;
}

.cote-a-cote {
    display: flex;
    justify-content: space-around;
}

.cote-a-cote>img {
    width: 30%;
}

.cote-a-cote>div {
    width: 50%;
}

h2 {
    margin-left: 15px;
}